<div class="container">
    <div class="d-flex justify-content-md-end">
        @if (display && !submitted) {<div class="col-md-2 text-center">
            <h2>นาฬิกาจับเวลา <br> {{display}}</h2>
        </div>
        }
    </div>
    <div class="row justify-content-md-center">
        <div class="centered col-md-4 question">
            <div class="text-center question-logo">
                <img src="https://www.krungsrinimble.com/theme-custom/images/logo.png" class="rounded" alt="nimble">
            </div>

            <h5 class="text-light margin-space">{{questionInfo?.title}}</h5>
            @for (question of questionInfo?.questionAnswerInfo; track question.questionAnswerId){
            <div class="form-check text">
                <input class="form-check-input" type="checkbox" [name]="question.questionAnswerId"
                    [value]='question.questionAnswerId' (change)="onChangeValue(question.questionAnswerId)">
                <label class="form-check-label text-light" for="flexRadioDefault">
                    {{question.answer}}
                </label>
            </div>
            }
            @if(!submitted){
                @if(currentIndex !== (questionDetail?.data?.totalQuestion || 0)){
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-warning col-md-4 margin-space"
                            (click)="next(questionInfo!.questionId)">ถัดไป</button>
                    </div>
                }
                @if(questionDetail?.data?.totalQuestion == currentIndex){
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-warning col-md-4 margin-space"
                            (click)="sendAnswer()">ส่งคำตอบ</button>
                    </div>
                    }
                @if(currentIndex >= 1){
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-warning col-md-4 margin-space" (click)="back()">ย้อนกลับ</button>
                    </div>
                }
            }
            @else{
                <h3 class="text-light margin-space">คะแนนรวมทั้งหมด {{resultScore?.data?.fullScore}}</h3>
                <h3 class="text-light margin-space">คะแนนที่ทำได้ {{resultScore?.data?.score}}</h3>
            }
          
           

        </div>
    </div>
</div>